html,body{margin:0;padding:0;}
body{background-color:#FFFFFF;font-family:'Hiragino Sans GB','Microsoft YaHei',Simsun,Mingliu,Arial,Helvetica,sans-serif;font-size: 14px;line-height:1.6em; background: #ebebeb}
*::-moz-selection{background-color:#323232;color:#FFFFFF;}
code::-moz-selection{background-color:#89D228;color:#FFFFFF;}
*::selection{background-color:#323232;color:#FFFFFF;}
code::selection{background-color:#7CB182;color:#FFFFFF;}
img,fieldset{border:0 none;}
a:link,a:visited{color:#555;}
a:hover{color: #e67e22;text-decoration: none; }
h1{color:#222222;}
h3 a:link,h3 a:visited{color:#222222;}
input[name="submit"].button{background-color:rgba(60,132,198,0.8);background-image:-moz-linear-gradient(rgba(28,91,155,0.8) 0,rgba(108,191,255,.9) 90%);border-top-color:#8BA2C1;border-right-color:#5890BF;border-bottom-color:#4F93CA;border-left-color:#768FA5;-webkit-box-shadow:rgba(66,140,240,0.5) 0 10px 16px;-moz-box-shadow:rgba(66,140,240,0.5) 0 10px 16px;}
input[name="submit"].button.disabled{background-color:rgba(244,244,244,0.8);background-image:-moz-linear-gradient(rgba(244,244,244,0.8) 0,rgba(0,0,0,.9) 90%);border-color:#ADB2B5;-webkit-box-shadow:rgba(173,178,181,0.5) 0 0 0;-moz-box-shadow:rgba(173,178,181,0.5) 0 10px 16px;color:#6D6D6D;cursor:default;font-weight:normal;text-shadow:rgb(255,255,255) 0 0 5px;}
table{border-collapse:collapse;width:99.9%;}
td,th{border:1px solid #CCCCCC;padding:6px;}
blockquote{margin:4px 0 4px 20px;padding:4px 8px;background-color:#EFEFEF;border-left:5px double #CCCCCC;white-space:pre-line;}
blockquote p{margin:0;}
sup{margin-left:-8px;}
em{padding:4px;}
pre,code,kbd{background-color:#F6F6F6;font-family:Consolas,"Courier New",Courier,monospace;}
pre{margin:4px 0;padding:4px 8px;border-color:#CCCCCC;border-style:solid;border-width:1px 1px 3px;word-wrap:break-word;-moz-box-shadow:0 3px 6px rgba(0,0,0,0.25);-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.25);}
article, aside, footer, header, hgroup, main, nav, section{display: block;}
.none{display:none;}

/*头部*/
.main-header{
    padding-top: 62px;
    padding-bottom: 62px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}
.branding{
    display: inline-block;
    width:100px;
    height: 100px;
    border-radius: 999px;
    box-shadow: 0 0 0 4px rgba(255,255,255,.3);
}
.brandimg{
    width:100px;
    height: 100px;
    border-radius: 999px;
}
.brandname{ color: #fff; margin-bottom: 0;}

/*导航*/
.main-navigation {
    text-align: center;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
    margin-bottom: 35px;
    border-bottom: 2px solid #e1e1e1;
}
.navbar-header {
    text-align: center;
}
.main-navigation .menu{
    margin: 0;
    padding:0;
}
.main-navigation .menu li {
    list-style: none;
    display: inline-block;
    position: relative;
}
.main-navigation .menu li a {
    color: #505050;
    line-height: 4em;
    display: block;
    padding: 0 21px;
}
.main-navigation .menu li.nav-current {
    border-bottom: 2px solid #e67e22;
    margin-bottom: -2px;
}
.navbar-header i {
    height: 56px;
    line-height: 56px;
    font-size: 2em;
    cursor: pointer;
}


/*main*/
.panel-primary>.panel-heading {
    font-size: 1.5em;
    color: #505050;
    background-color: #fff;
    border-color: #fff;
}
.panel-primary {
    border-color: #fff;
}
.list-group-item { border: 0; border-top:1px solid #ddd; }


/*aside*/
.widget {
    margin-bottom: 30px;
    border-radius: 4px;
}
.sidebar .widget {
    background: #ffffff;
    padding: 21px 30px;
}
.widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
}
.widget .title:after {
    content: "";
    width: 90px;
    height: 1px;
    background: #e67e22;
    position: absolute;
    left: 0;
    bottom: -1px;
}

/*tag*/
.widget .tag-cloud a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.widget .tag-cloud a:hover {
    color: #ffffff;
    background: #e67e22;
    border: 1px solid #e67e22;
    text-decoration: none;
}

/*post*/
.post {
    padding: 35px;
    background: #ffffff;
    margin-bottom: 35px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.post .post-head {
    text-align: center;
}
.post .post-head .post-title {
    margin: 0;
    font-size: 2.5em;
    line-height: 1em;
}
.post-content {
    font: 400 18px/1.62 "Arial", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    color: #444443;
}
.post .post-content {
    margin: 30px 0;
}
.post-content blockquote {
    margin: 0 0 1.64em 0;
    border-left: 3px solid #e67e22;
    padding-left: 12px;
    color: #666664;
    background-color:#fefef5 ;
}

.main-footer {
    background: #202020;
    padding: 35px 0 0;
    color: #959595;
}


/* === code === */
.highlight .gutter,
.highlight .code,
.highlight .code pre,
.lineno{border:none 0;-webkit-box-shadow:none;}
.highlight .gutter{width:5%;}
.archive-info{border-top:4px solid #EFEFEF;}
#content .mod-encourage img{display:inline-block;}

@media (min-width: 768px){
    .nav-toggle-button {
        display: none;
    }
}
