---
layout: default
home: true
---

<main class="col-md-8 main-content">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ site.locals.newest }} </div>
        {% for post in paginator.posts %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item pjaxlink clearfix">
                            {{ post.title }}
              <span class="badge">{{ post.date | date: "%Y年-%m月-%d日" }}</span>
          </a>
        {% endfor %}
    </div>

 {% include paginator.html %}

</main>
 {% include aside.html %}
 

