@charset "UTF-8";
html,
body{background:#fff;color:#333;font:14px/1.6 'Microsoft YaHei',Tahoma,Verdana,'Simsun';}
a{color:#555;}
a,
a:hover{text-decoration:none;}
ul{margin:0;padding:0;list-style:none;}
.swiper-pagination-bullet-active{opacity:1;background:#fff;}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev{background-image:none;right:10px;left:auto;font-size:50px;color:#fff;}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next{background-image:none;left:10px;right:auto;font-size:50px;color:#fff;}
.swiper-button-next i,
.swiper-container-rtl .swiper-button-prev i,
.swiper-button-prev i,
.swiper-container-rtl .swiper-button-next i{position:relative;top:-22px;}
header{padding:15px 0 68px;}
header .top-info{padding-top:25px;}
header .top-info .info-box{vertical-align:middle;padding-right:30px;display:inline-block;}
header .top-info .info-box .icon-box,
header .top-info .info-box .text-box{display:table-cell;vertical-align:middle;}
header .top-info ul{list-style:none;padding:0;margin:0}
header .top-info .info-box .icon-box{padding-right:20px}
header .top-info .info-box .icon-box i{font-size:30px;color:#5e341b;position:relative;top:5px;border-left:1px solid #be9b63;padding-left:30px}
header .top-info .info-box .social-icons{font-size:0;margin-left:-7.5px;margin-right:-7.5px;line-height:6px;margin-top:15px;padding-left:0}
header .top-info .info-box .social-icons li{display:inline-block;margin-left:7.5px;margin-right:7.5px}
header .top-info .info-box .social-icons li div{z-index:99999}
header .top-info .info-box .social-icons li a{display:block;font-size:15px;color:#61361d}
header .top-info .info-box .social-icons li a:hover{color:#5e341b}
header .top-info .info-box p{color:#555;line-height:24px;margin:0}
header .top-info .info-box span.highlighted{color:#555}
nav{margin-top:-52px;border-top:2px solid #FE6A7A;background:#0d0d0d;}
.more{width:148px;height:30px;display:block;line-height:30px;color:#848484;text-align:center;transition:all 0.5s cubic-bezier(0.215,0.61,0.355,1) 0s;border:#dfdfdf 1px solid;margin-top:50px;}
.more:hover{text-decoration:none;color:#333;}
.navbar{margin-bottom:0;}
.banner{width:100%;position:relative;height:336px;overflow:hidden;}
.com-body h3{font-size:22px;margin-top:40px;text-align:center;font-weight:700;}
.com-body h3 a{display:inline-block;text-decoration:none;color:#555;padding-bottom:10px;border-bottom:2px solid #eee;}
.com-body .desc{font-size:18px;font-weight:300;text-align:center;color:#8d8d8d;margin:0 auto 40px;}
.home-new-item{color:#fff;text-decoration:none;}
.home-new-prd{position:relative;height:200px;overflow:hidden;border:1px solid #eee;margin-bottom:30px;}
.home-new-prd .new-desc{width:100%;height:38px;position:absolute;left:0;bottom:-38px;line-height:38px;background:rgba(0,0,0,.6);margin:0;-webkit-transition:.3s;color:#fff;text-indent:1em;white-space:normal;text-overflow:ellipsis;}
.home-new-prd img{-webkit-transition:.3s;}
.home-new-prd:hover .new-desc{bottom:0;-webkit-transition:.3s;}
.home-new-prd:hover img{-webkit-transform:scale(1.1);-webkit-transition:.3s;}
.home-about{padding:70px 0px;background:#f5f5f5;position:relative;z-index:2;}
.home-about .about-img img{width:100%;padding-bottom:20px;}
.home-about h3{font-size:24px;margin-top:0px;text-align:left;margin-bottom:0px;color:#444;font-weight:normal;}
.home-about .about-edit{padding:0;color:#848484;font-size:13px;margin-top:30px;background:none;}
.home-product .single-latest-project-gardener{position:relative;margin-bottom:30px;overflow:hidden;}
.overlay{position:relative;max-width:100%;margin:0;-webkit-transform:translateZ(0);transform:translateZ(0);}
.home-product .single-latest-project-gardener .overlay{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.2);text-align:center;line-height:0;opacity:1;filter:alpha(opacity=100);-webkit-transition:all .3s ease;transition:all .3s ease;}
.home-product .single-latest-project-gardener .overlay:hover{background:rgba(0,0,0,.34);}
.home-product .single-latest-project-gardener .overlay .box-holder{display:table;width:100%;height:100%;position:relative;}
.home-product .single-latest-project-gardener .overlay .box-holder:after,
.home-product .single-latest-project-gardener .overlay .box-holder:before{content:'';position:absolute;opacity:0;filter:alpha(opacity=0);}
.home-product .single-latest-project-gardener .overlay:hover .box-holder:before{top:15px;opacity:1;filter:alpha(opacity=100);}
.home-product .single-latest-project-gardener .overlay:hover .box-holder:after{opacity:1;filter:alpha(opacity=100);-webkit-transform:skew(0);-ms-transform:skew(0);transform:skew(0);}
.home-product .single-latest-project-gardener .overlay .box-holder:before{top:100%;left:30px;right:30px;bottom:15px;border-left:1px solid #FFF;border-right:1px solid #FFF;-webkit-transition:all .3s ease .3s;transition:all .3s ease .3s;}
.home-product .single-latest-project-gardener .overlay .box-holder:after{top:30px;left:15px;right:15px;bottom:30px;border-top:1px solid #FFF;border-bottom:1px solid #FFF;-webkit-transform:skew(-100deg);-ms-transform:skew(-100deg);transform:skew(-100deg);-webkit-transition:all .3s ease;transition:all .3s ease;}
.home-product .single-latest-project-gardener .overlay .box-holder .content-box{display:table-cell;vertical-align:middle;padding-left:50px;padding-right:50px;-webkit-transition:all .3s ease;transition:all .3s ease;}
.home-product .single-latest-project-gardener .overlay .box-holder .content-box h4{font-size:25px;line-height:26px;text-transform:capitalize;font-weight:500;color:#fff;margin:0;-webkit-transition:all .3s ease;transition:all .3s ease;}
.home-product .single-latest-project-gardener .overlay .box-holder .content-box p{margin:12px 0 0;font-size:14px;color:#FFF;line-height:20px;opacity:0;filter:alpha(opacity=0);height:0;-webkit-transition:all .3s ease;transition:all .3s ease;}
.home-product .single-latest-project-gardener .overlay:hover .content-box p{opacity:1;filter:alpha(opacity=100);height:auto;}
.home-show .swiper-container{position:relative;width:100%;height:300px;margin:20px auto;overflow:hidden;}
.home-show .swiper-slide{text-align:center;font-size:18px;background:#fff;border:1px solid #eee;        /* Center slide text vertically */display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;cursor:pointer;}
.home-show .swiper-slide img{transition:all 0.6s cubic-bezier(0.215,0.61,0.355,1) 0s;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
.home-show .swiper-slide:hover img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);transition:all 0.6s cubic-bezier(0.215,0.61,0.355,1) 0s;}
.home-new .new-item{margin-top:15px;overflow:hidden;zoom:1;}
.home-new .new-item:first-child{margin-top:0;}
.home-new .new-left,
.home-new .new-right{display:table-cell;vertical-align:top;}
.home-new .new-left{padding-right:20px;}
.home-new .new-img{width:160px;}
.home-new .new-heading{position:relative;margin-top:0;margin-bottom:5px;}
.home-new .new-heading a{text-decoration:none;}
.home-new .new-heading:before{position:absolute;content:"";width:10px;height:1px;background-color:#3C3C3C;bottom:0px;transition:all 0.6s cubic-bezier(0.215,0.61,0.355,1) 0s;}
.home-new .new-heading:hover:before{width:100%;transition:all 0.6s cubic-bezier(0.215,0.61,0.355,1) 0s;}
.home-new .new-time{display:block;font-weight:300;height:30px;color:#999;font-size:16px;}
.home-new  .new-heading a{border-bottom:1px solid #EFEFEF;font-size:16px;color:#595959;display:block;padding-bottom:20px;}
.home-new p.des{margin-bottom:5px;}
.home-new .more{margin:70px auto;border-color:#b6b6b6;}
.footer{background:#f2f2f2;padding:40px 0 20px;}
.footer-logo img{width:130px;}
.footer-logo,
.footer .footer-item{display:block;text-align:center;font-size:12px;color:#878787;text-decoration:none;margin-bottom:10px;}
.footer .footer-item span{color:#000;}
.footer-copyright{font-size:12px;color:#ADADAD;margin-top:40px;padding-top:40px;border-top:1px solid #d8d8d8;}