<aside class="col-md-4 sidebar">
    <div class="widget">
        <h4 class="title">个人资料</h4>
        <div class="content community">
            <p>QQ：1471299010</p>
            <p><a href="#" title="留言" target="_blank" ><i class="glyphicon glyphicon-comment"></i> 给我留言</a></p>
            <p>
                <a href="#" title="zlmark微博" target="_blank" ><i class="glyphicon glyphicon-heart"></i> 官方微博</a>
            </p>
        </div>
    </div>

    <div class="widget">
        <h4 class="title">目录</h4>
        <div class="content community">
            <ul>
                <li><a href="">读书</a></li>
                <li><a href="">生活</a></li>
                <li><a href="">绘画</a></li>
                <li><a href="">厨房</a></li>
                <li><a href="">科研</a></li>
                <li><a href="">技术</a></li>
            </ul>
        </div>
    </div>

    <div class="widget">
        <h4 class="title">归档</h4>
        <div class="content community">
            <ul>
                <li><a href="">2016年-01月</a> <span class="orange">(3)</span></li>
                <li><a href="">2016年-02月</a></li>
                <li><a href="">2016年-03月</a></li>
                <li><a href="">2016年-04月</a></li>
                <li><a href="">2016年-05月</a></li>
                <li><a href="">2016年-06月</a></li>
            </ul>
        </div>
    </div>

    <div class="widget">
        <h4 class="title">标签云</h4>
        <div class="content tag-cloud">
            <a href="/tag/customize-page/">自定义页面</a>
            <a href="/tag/static-page/">静态页面</a>
            <a href="/tag/roon-io/">Roon.io</a>
            <a href="/tag/configuration/">配置文件</a>
            <a href="/tag-cloud/">...</a>
        </div>
    </div>
</aside>