<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="robots" content="all" />
<meta name="author" content="wanzixz" />
<meta name="description" content="zlmark blog"/>
<meta name="application-name" content="zlmark blog" />
<meta name="keywords" content="zlmark,CSS,样式表,js,Blog,博客,XHTML" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>{{ site.name }}|{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/highlight.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
