


<header class="main-header" style="background-image: url({{ "/public/img/body_bg_page.jpg?id=20160605"}})">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- start logo -->
                <a class="branding" href="{{ site.baseurl }}/" title="zlmark 博客"><img class="brandimg" src="http://tva4.sinaimg.cn/crop.0.49.300.300.180/6482b7ccjw8f2ano0ecz7j208c0b2dg4.jpg" alt="zlmark 博客"></a>
                <!-- end logo -->
                <h1 class="brandname">{{ site.title }}</h1>
                <h2 class="text-hide none">{{ site.description}}</h2>
            </div>
        </div>
    </div>
</header>
