<main class="col-md-8 main-content">
    <div class="panel panel-primary">
        <div class="panel-heading">2015年</div>
        <a href="/2016/01/28/Book-List-2016.html" class="list-group-item pjaxlink clearfix">
            2016年阅读书单
            <span class="badge">2016年01月28日</span>
        </a>
        <a href="/2015/10/26/Do-with-your-guitar.html" class="list-group-item pjaxlink clearfix">
            吉他上弦枕的DIY调节
            <span class="badge">2015年10月26日</span>
        </a>
        <a href="/2015/10/21/My-Job.html" class="list-group-item pjaxlink clearfix">
            找工作总结
            <span class="badge">2015年10月21日</span>
        </a>
        <a href="/2015/09/12/Intuition-of-Eigen-Value.html" class="list-group-item pjaxlink clearfix">
            从二次型最优化问题中理解矩阵特征值的意义
            <span class="badge">2015年09月12日</span>
        </a>
        <a href="/2015/07/05/Never-Trust-the-Word-from-Qipa.html" class="list-group-item pjaxlink clearfix">
            租房奇遇记
            <span class="badge">2015年07月05日</span>
        </a>
        <a href="/2015/03/23/Newton-QuasiNewton-Method.html" class="list-group-item pjaxlink clearfix">
            牛顿法与拟牛顿法（DFP BFGS LBFGS VLBFGS）
            <span class="badge">2015年03月23日</span>
        </a>
        <a href="/2015/02/13/Cplus-on-MAC.html" class="list-group-item pjaxlink clearfix">
            Mac以及Windows上搭建C++工作环境
            <span class="badge">2015年02月13日</span>
        </a>
        <a href="/2015/02/04/Group-Meeting.html" class="list-group-item pjaxlink clearfix">
            大数据机器学习初探---南大李武军
            <span class="badge">2015年02月04日</span>
        </a>
        <a href="/2015/01/30/Git-Resources.html" class="list-group-item pjaxlink clearfix">
            Git常用命令速查表
            <span class="badge">2015年01月30日</span>
        </a>
        <a href="/2015/01/29/Book-List-2015.html" class="list-group-item pjaxlink clearfix">
            2015年阅读书单
            <span class="badge">2015年01月29日</span>
        </a>
    </div>
</main>