<!--nav start-->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Menu</span>
                        <i class="glyphicon  glyphicon-align-justify"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu" id="menu">                      
                        <li class="{% if page.home %}nav-current{% endif %}"><a  href="{{ site.baseurl }}/">首页</a></li>
                        <li class="{% if page.catepage %}nav-current{% endif %}"><a  href="{{ "/pages/categories.html"}}">{{ site.locals.post }}</a></li>
                        <li class="{% if page.tagspage | page.postpage | page.siglepage %}nav-current{% endif %}"><a href="{{ "/pages/tags.html" }}">{{ site.locals.tags }}</a></li>
                        <li class="{% if page.archivepage %}nav-current{% endif %}"><a href="{{ "/pages/archive.html" }}">{{ site.locals.archive }}</a></li>
                        <li class="{% if page.aboutpage %}nav-current{% endif %}" ><a  href="{{"/pages/page.html"}}">{{ site.locals.about }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--nav end-->

<!--content start-->
<section class="content-wrap">
    <div class="container">
        <div class="row">
