<!DOCTYPE html>
<html ng-app="webapp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>angular的Service模式学习</title>
    <script src="js/angular.min.js"></script>
</head>

<body>
    <div ng-controller="testCtrl" id="wrap" class="wrap">
        <div ng-bind="name"></div>
        <hello></hello>
        <input type="text" ng-model="name">
        <directititle color-attr='{{color}}' name-Attr='{{model.name}}'></directititle>
    </div>
    
</body>
<script>
    var app = angular.module('webapp', []);
    app.directive('hello', function() {
        return {
            restrict: 'EA',
            template: '<div><h3>hello world</h3></div>'
        }
    });
    app.directive('directititle',function(){
        return {
            restrict: 'EAC',
            replace:true,
            //scope: {color:'=color'},
            colorAttr :'=',
            namedAttr:'=',
            template: function(tElement,tAttrs){
                var _html = '';
                _html += '<div style="background-color:{{color}}">儿子:{{name2}} <input ng-model="name"></div>';
                return _html;
            },
            link:function (scope, elem, attr) {
                console.log(attr.nameAttr);
                scope.name = scope.name2 = 'dd1'
            }

        }
    });
    app.controller('testCtrl', function($scope){
        $scope.model ={
            name:'ddd'
        }
        $scope.name = 'hellow world';
        $scope.color = 'red';
    });
</script>

</html>