---
layout: default
title: 归档
comments: false
archivepage: true
---
<main class="col-md-8 main-content">
  <article class="post page">
      <header class="post-head">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>
      <br>
{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ post.previous.date | date: "%m" }}{% endcapture %}
  
    {% if forloop.first %}
      <legend id="{{this_year}}-{{this_month}}">{{this_year}}年-{{this_month}}月</legend>
      <ul class="archive">
    {% endif %}
    <li><span>{{ post.date | date: "%Y年-%m月-%d日" }}</span> &raquo; 
      <a class="pjaxlink" href="{{ post.url }}">{{ post.title }} ——【{{ post.category }}】</a>
    </li>
  
    {% if forloop.last %}
      </ul>
    {% else %}
      {% if this_year != next_year %}
        <ul>
        <legend id="{{next_year}}-{{next_month}}">{{next_year}}年-{{next_month}}月</legend>
        </ul>
      {% else %}    
        {% if this_month != next_month %}
        <ul>
        <legend id="{{next_year}}-{{next_month}}">{{next_year}}年-{{next_month}}月</legend>
        </ul>
        {% endif %}
      {% endif %}
    {% endif %}
{% endfor %}
</article>
</main>

{% include aside.html %}