<!DOCTYPE html>
<html>
<head>
    {% include header.html %}
</head>
<body>
{% include nav.html %}
<!--content start-->
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <!--main-->
            <!--main-->
            <main class="col-md-8 main-content">
                <div class="panel panel-primary">
                    {{ content }}
                </div>
            </main>
            <!--aside-->
            {% include aside.html %}
        </div>
    </div>
</section>
{% include footer.html %}
{% include jsfoot.html %}
</body>
</html>