<!DOCTYPE html>
<html>
<head>
    {% include header.html %}
</head>
<body>

{% include nav.html %}
<!--content start-->
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <!--main-->
            <main class="col-md-8 main-content">
                <header class="post-head">
                    <h1 class="post-title">链接</h1>
                </header>
                <section class="post-content  widget">
                    <div class="panel panel-primary">
                        {{ content }}
                    </div>
                </section>
                <article class="post page">

                </article>
            </main>
            <!--aside-->
            {% include aside.html %}
        </div>
    </div>
</section>
{% include footer.html %}
{% include jsfoot.html %}
</body>
</html>